@media (max-width: 900px) {
    #page_home {
        background-position-x: 75vw;
    }

    #page_home .content {
        align-items: center;
        text-align: center;
    }

    #page_home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page_home main  {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 200px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

}

@media (min-width: 1700px) {
    #page_home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page_home {
        background-position-y: 200px;
    }
}
